<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <%- include('partials/head', {title : 'Profile'}) %>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('partials/header') %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('partials/sidebar') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="min-height: 250px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profile</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Profile</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                            <div class="card">
                                    <div class="card-body">
                                        <% if (locals.message) { %>
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <%= message %>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        <% } %>
                                        <% if (locals.error) { %>
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <%= error.message %>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        <% } %>
                                        <% if(locals.validateErrors) { %>
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <ul style="margin-bottom: 0px">
                                                    <% validateErrors.forEach(function(error) { %>
                                                        <li><%= error.msg %></li>
                                                        <% }) %>
                                                </ul>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        <% } %>
                                        <form class="form-horizontal form-material" action="/profile" method="post">
                                                <div class="form-group mb-4">
                                                        <label for="profile-name" class="col-md-12 p-0">Name</label>
                                                        <div class="col-md-12 border-bottom p-0">
                                                            <input id="profile-name" type="text" name="name" placeholder="Name" value="<%= user.name %>"
                                                                class="form-control p-0 border-0" aria-describedby="validationNameFeedback"> 
                                                        </div>                                                                        
                                                </div>
                                                <div class="form-group mb-4">
                                                        <label for="profile-email" class="col-md-12 p-0">Email</label>
                                                        <div class="col-md-12 border-bottom p-0">
                                                                <input id="profile-email" type="email" name="email" placeholder="Email" value="<%= user.email %>"
                                                                        class="form-control bg-light bg-gradien p-0 border-0" readonly>
                                                        </div>
                                                </div>
                                                
                                                <div class="form-group mb-4">
                                                        <div class="col-sm-12">
                                                                <button class="btn btn-primary" type="submit">Update Profile</button>
                                                        </div>
                                                </div>
                                        </form>
                                    </div>
                            </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <%- include('partials/footer') %>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <%- include('partials/scripts') %>
</body>

</html>